In [1]:
# 1. Import all the required Python Libraries.
import pandas as pd

# 2. Locate open source data from the web 
dataset_url = "Datasets/BHP.csv"
# Description: Provide information about the dataset

# 3. Load the Dataset into pandas dataframe.
df = pd.read_csv(dataset_url)

print(df)

# 4. Data Preprocessing:
print("\nVariable Descriptions:")
print(df.info())
print("\nChecking for Missing Values:")
print(df.isnull().sum())
print("\nDimensions of the Data Frame:")
print(df.shape)

df.fillna('NA', inplace=True)
df['balcony'].replace('NA', 0, inplace=True)

print("\nChecking for Missing Values:")
print(df.isnull().sum())

# 5. Data Formatting and Data Normalization:
# Summarize the types of variables by checking the data types of the variables in the data set.
print("\nData Types of Variables:")
print(df.dtypes)

# 6. Turn categorical variables into quantitative variables in Python.
df['area_type'] = df['area_type'].astype('category').cat.codes
df['location'] = df['location'].astype('category').cat.codes
df['size']=df['size'].str.replace('Bedroom', 'BHK')


print("\nCleanied Dataset")
df

                  area_type   availability                  location  \
0      Super built-up  Area         19-Dec  Electronic City Phase II
1                Plot  Area  Ready To Move          Chikka Tirupathi
2            Built-up  Area  Ready To Move               Uttarahalli
3      Super built-up  Area  Ready To Move        Lingadheeranahalli
4      Super built-up  Area  Ready To Move                  Kothanur
...                     ...            ...                       ...
13315        Built-up  Area  Ready To Move                Whitefield
13316  Super built-up  Area  Ready To Move             Richards Town
13317        Built-up  Area  Ready To Move     Raja Rajeshwari Nagar
13318  Super built-up  Area         18-Jun           Padmanabhanagar
13319  Super built-up  Area  Ready To Move              Doddathoguru

            size  society total_sqft  bath  balcony   price
0          2 BHK  Coomee        1056   2.0      1.0   39.07
1      4 Bedroom  Theanmp       2600   5.0      3.0  120.00
2          3 BHK      NaN       1440   2.0      3.0   62.00
3          3 BHK  Soiewre       1521   3.0      1.0   95.00
4          2 BHK      NaN       1200   2.0      1.0   51.00
...          ...      ...        ...   ...      ...     ...
13315  5 Bedroom  ArsiaEx       3453   4.0      0.0  231.00
13316      4 BHK      NaN       3600   5.0      NaN  400.00
13317      2 BHK  Mahla T       1141   2.0      1.0   60.00
13318      4 BHK  SollyCl       4689   4.0      1.0  488.00
13319      1 BHK      NaN        550   1.0      1.0   17.00

[13320 rows x 9 columns]

Variable Descriptions:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB
None

Checking for Missing Values:
area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

Dimensions of the Data Frame:
(13320, 9)

Checking for Missing Values:
area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

Data Types of Variables:
area_type        object
availability     object
location         object
size             object
society          object
total_sqft       object
bath             object
balcony         float64
price           float64
dtype: object

Cleanied Dataset

C:\Users\shant\AppData\Local\Temp\ipykernel_9808\3936657548.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('NA', inplace=True)
C:\Users\shant\AppData\Local\Temp\ipykernel_9808\3936657548.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['balcony'].replace('NA', 0, inplace=True)
C:\Users\shant\AppData\Local\Temp\ipykernel_9808\3936657548.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['balcony'].replace('NA', 0, inplace=True)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,3,19-Dec,419,2 BHK,Coomee,1056,2.0,1.0,39.07
1,2,Ready To Move,317,4 BHK,Theanmp,2600,5.0,3.0,120.00
2,0,Ready To Move,1180,3 BHK,NA,1440,2.0,3.0,62.00
3,3,Ready To Move,757,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,3,Ready To Move,716,2 BHK,NA,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,0,Ready To Move,1253,5 BHK,ArsiaEx,3453,4.0,0.0,231.00
13316,3,Ready To Move,1005,4 BHK,NA,3600,5.0,0.0,400.00
13317,0,Ready To Move,973,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,3,18-Jun,908,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,3,Ready To Move,396,1 BHK,NA,550,1.0,1.0,17.00